$primary: rgb(169, 226, 255);
$secondary: rgb(99, 99, 99);

$bgcolor_side_head: rgb(70, 70, 70);
$bgcolor_main: rgb(215, 215, 215);

$txtcolor: $bgcolor_side_head;
$txtcolor_negative: $bgcolor_main;

$overlaycolor: rgba(0,0,0, .1);