@import "colors";
@import "setup";
@import "mixins";
@import "fonts";

@media #{$mobil}{
  body{
    padding: 0;

    header{
      @include backgroundpattern2;
      width: 100%;
      .mobile-head{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .logo-M{
          width: 20%;
          margin: 15px 0;
        }
        .sidebarimg-m{
          width: 200px;
          height: 200px;
          border-radius: 50%;
          margin: 10px 0;
          background-color: black;
        }
        h2{
          font-size: xx-large;
          font-weight: bolder;
        }
        span{
          font-size: large;
        }
        h3{
          font-size: larger;
        }
      }
    }
    .mobile-header-nav{
      border: black 1px solid;
      display: flex;
      justify-content: space-between;
      padding: 0 10%;
      align-items: center;
      position: sticky;
      width: 100%;
      height: 75px;
      @include backgroundpattern2;
      top: 0;
      left: 0;
      span{
        font-size: xx-large;
      }
      .nav-logo{
        height: 65px;
      }
    }
    .Sidebar{
      display: none;
    }
    main{
      margin: 0;
      width: 100%;

      .intro{
        p{
          margin: 20px 0;
        }
      }

      .skills{
        h3{
          margin: 10px 0;
          font-size: x-large;
          font-weight: bolder;
        }
        ul{
          li{
            margin: 5px 0;
            ul{
              margin-left: 10%;
            }
          }
        }
      }

      .intro, .skills{
        padding: 10%;
      }
        .projects{
          padding: 10px;
          background-color: $bgcolor_main;
          h3{
            font-size: x-large;
            text-align: center;
            margin: 5px 0;
          }
          .Project-container{
            margin-top: 10px;
            padding: 10px 5%;
            background-color: lighten($bgcolor_main, 5);
          }
          .Project-AV-popup-container, .Project-CClub-popup-container, .Project-DDP-popup-container{
            display: none;
            padding: 10px 5%;
            background-color: lighten($bgcolor_main, 5);
            h3{
              font-size: x-large;
              text-align: center;
            }
          }
        }
      .ratingscontainerv2{
        width: 100%;
        grid-template-columns: auto 85%;
        grid-column-gap: 10px;
        .fab{
          font-size: 40px;
        }
        .ratings{
          display: flex;
          align-items: center;
          i{
            margin: 0 3px;
          }
        }
        .positive{
          color: green;
          font-size: x-large;
        }
        .negative{
          color: gray;
          font-size: large;
        }
      }
    }
  }
}



@media #{$tablet} {

header{
  display: none;
}
  nav{
    display: none;
  }
  .mobile-header-nav{
    display: none;
  }
  aside{display: none}
}

@media #{$pc} {
  h2{
    font-size: xx-large;
    font-weight: bolder;
    margin: 10px 0;
  }
  li, span, p {
    margin: 10px 0;
  }
  h3{
    font-size: x-large;
    font-weight: bold;
    margin: 10px 0;
  }
  header{
    display: none;
  }
  nav{
    display: none;
  }
  .mobile-header-nav{
    display: none;
  }
  aside{
    display: block;
    padding: 0 20px;
  }
  body{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas: "sidebar main";
  }

  .Sidebar{
    @include backgroundpattern2;
    display: flex;
    grid-area: sidebar;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: large;
    .sidelogo{
      width: 25%;
      margin: 10px 0;
      position: relative;
      bottom: 50px;
    }
    .sidebarimg{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: white;
      margin: 0 auto;
    }
    h2{
      margin: 10px 0;
      font-size: xx-large;
    }
    span{
      margin: 10px auto;
    }
    h3{
      font-size: x-large;
      margin: 10px auto;
    }
    ul{
      li{
        list-style: none;
        margin: 5px 0;
      }
    }
  }

  main{
    padding-top: 50px;
    grid-area: main;
    overflow-y: scroll;
    background-color: $bgcolor_main;

    .skills, .intro{
      padding: 0 10%;
    }
    .skills ul li ul{
      margin-left: 5%;
    }

    .projects{
      margin: 50px 0;
      grid-area: projects;
      .projects-intro-info{
        padding: 20px 10%;
      }
      h2{
        text-align: center;
      }
      .Project-container{
        width: 50%;
        margin: 20px auto;
        background-color: $overlaycolor;
        padding: 15px;
        display: grid;
        grid-template-rows: 50px auto;
        grid-template-columns: 100%;
        grid-template-areas:
                "hl"
                "img";

      &:hover{
        width: 50%;
        transition: width 100ms;
        grid-template-rows: 50px 1fr;
        grid-template-columns: 60% auto;
        grid-column-gap: 20px;
        grid-template-areas:
                "hl hl"
                "img info";
        padding: 20px;
        cursor: pointer;
        .projects-info{
          display: block;
          grid-area: info;
        }
      }
        &:not(:hover){
          transition: width 100ms;
        }

        h3{
          grid-area: hl;
        }
        img{
          grid-area: img;

        }
      }
    }
    .Project-AV-popup-container, .Project-DDP-popup-container, .Project-CClub-popup-container{
      display: none;
      width: 75%;
      height: 100vh;
      position: fixed;
      bottom: 0;
      right: 0;
      background-color: $overlaycolor;

      .Project-popup{
        background-color: $bgcolor_main;
        padding: 50px;
        position: relative;
        top: 100px;
        left: 50%;
        width: 80%;
        transform: translate(-50%, 0);
        h3{
          font-size: xx-large;
        }
        span, ul, p{
          font-size: large;
          margin: 10px 0;
        }
        span{
          font-weight: bold;
        }
      }
    }
  }
  .projects-info{
    display: none;
  }
}
.ratingscontainerv2{
  display: grid;
  grid-template-columns: 7% auto;
  grid-template-rows: auto auto;
  height: 75px;
  grid-template-areas:
          "icon h3"
          "icon ratings";
  align-content: center;
  .fab{
    grid-area: icon;
    font-size: 60px;
    align-self: center;
    margin: 0 auto;
  }
  h3{
    grid-area: h3;
    margin: 0;
    padding-left: 5px;
  }
  div{
    grid-area: ratings;
  }
}

.ratings{
  display: flex;
  align-items: center;
  justify-content: space-around;
  i{
    margin: 0 5px;
  }
}
.positive{
  color: green;
  font-size: xx-large;
}
.negative{
  color: gray;
  font-size: xx-large;
}




